#
# Ci-dessous les variables pour configurer les conteneurs de periscope-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#
######################################################
# Version de l'application periscope
######################################################
PERISCOPE_API_VERSION=develop-api
PERISCOPE_FRONT_VERSION=develop-front
PERISCOPE_BATCH_VERSION=develop-batch

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=5g
CPU_LIMIT=4

######################################################
# Paramétrage de periscope-front
######################################################
PERISCOPE_FRONT_API_BASEURL=
PERISCOPE_FRONT_TIMELINE_URL=
PERISCOPE_FRONT_APICOM_URL=
PERISCOPE_FRONT_HTTP_PORT=

######################################################
# Paramétrage de periscope-api
######################################################


######################################################
# Config des batchs
######################################################


######################################################
# Paramétrage de periscope-watchtower
######################################################
# Pour les notifications slack des déploiements continus de periscope
# cf https://containrrr.dev/watchtower/notifications/#slack
# A noter : penser à indiquer le nom de l'environnement dev, test, prod
# au niveau de la variable WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER pour pouvoir
# mieux distinguer sur quel machine a été réalisé le déploiement
# - en local laisser PERISCOPE_WATCHTOWER_RUN_ONCE=true
# - en dev, test, prod, positionner PERISCOPE_WATCHTOWER_RUN_ONCE=false
PERISCOPE_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxx/yyyyyyyyyyyyyyy
PERISCOPE_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=local periscope-watchtower
PERISCOPE_WATCHTOWER_RUN_ONCE=true

